<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}

<!-- Название у нас будет Post -->
{% block title %}
<!-- на самом деле бессмысленно, если в default не задать блок  -->
Post
<!-- но если задать, то текст вылезает вверху страницы, а не в виде принятого title  -->
{% endblock title %}

<!-- В контенте на странице мы выводим саму новость, идентификатор которой был передан в url -->
{% block content %}
<h1> {{ content }} </h1>
{% endblock content %}

